In [36]:
import numpy as np
import pandas as pd
from sklearn.model_selection import train_test_split

# 步骤1：收集数据

In [27]:
train_data = pd.read_csv('train.csv')

In [28]:
train_data

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S
...,...,...,...,...,...,...,...,...,...,...,...,...
591,592,1,1,"Stephenson, Mrs. Walter Bertram (Martha Eustis)",female,52.0,1,0,36947,78.2667,D20,C
592,593,0,3,"Elsbury, Mr. William James",male,47.0,0,0,A/5 3902,7.2500,NaN,S
593,594,0,3,"Bourke, Miss. Mary",female,NaN,0,2,364848,7.7500,NaN,Q
594,595,0,2,"Chapman, Mr. John Henry",male,37.0,1,0,SC/AH 29037,26.0000,NaN,S
595,596,0,3,"Van Impe, Mr. Jean Baptiste",male,36.0,1,1,345773,24.0000,NaN,NaN

In [29]:
train_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596 entries, 0 to 595
Data columns (total 12 columns):
PassengerId    596 non-null int64
Survived       596 non-null int64
Pclass         596 non-null int64
Name           596 non-null object
Sex            596 non-null object
Age            472 non-null float64
SibSp          596 non-null int64
Parch          596 non-null int64
Ticket         596 non-null object
Fare           596 non-null float64
Cabin          136 non-null object
Embarked       594 non-null object
dtypes: float64(2), int64(5), object(5)
memory usage: 56.0+ KB

In [30]:
y = train_data.Survived
X = train_data[['Pclass','Sex', 'SibSp', 'Parch', 'Fare']]

In [31]:
sex = {elem:index for index,elem in enumerate(set(X["Sex"]))}
X['Sex'] = X['Sex'].map(sex)

/Users/chenzu/opt/anaconda3/lib/python3.7/site-packages/ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: http://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

In [32]:
X[0:3]
X.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 596 entries, 0 to 595
Data columns (total 5 columns):
Pclass    596 non-null int64
Sex       596 non-null int64
SibSp     596 non-null int64
Parch     596 non-null int64
Fare      596 non-null float64
dtypes: float64(1), int64(4)
memory usage: 23.4 KB

# 步骤2：数据准备

In [33]:
y = y.values
X = X.values

In [37]:
train_X,val_X,train_y,val_y = train_test_split(X,y,test_size=0.1,random_state=0)

# 步骤3：选择一个模型

In [38]:
from sklearn import tree
clf = tree.DecisionTreeClassifier()

# 步骤4：训练

In [39]:
clf.fit(train_X, train_y)

DecisionTreeClassifier(class_weight=None, criterion='gini', max_depth=None,
                       max_features=None, max_leaf_nodes=None,
                       min_impurity_decrease=0.0, min_impurity_split=None,
                       min_samples_leaf=1, min_samples_split=2,
                       min_weight_fraction_leaf=0.0, presort=False,
                       random_state=None, splitter='best')

# 步骤5：评估

In [40]:
acc = clf.score(train_X, train_y)
print('训练集准确率：'+str(acc))

acc = clf.score(val_X, val_y)
print('验证集准确率：'+str(acc))

训练集准确率：0.9216417910447762
验证集准确率：0.7833333333333333